./Auth/backend/node_modules
./Auth/frontend/node_modules
./Hypatiamat-BackOffice/apiDados/node_modules
./Hypatiamat-BackOffice/interface/node_modules
./Hypatiamat-TPC/backend/node_modules
./Hypatiamat-TPC/frontend/node_modules
